node_modules
dist
.env
.DS_Store
*.webp
*.png
*.jpg
!public/images/*.png
!public/links/*.png
!public/*.png
!logo-koodai.png
!girls.png
!p1.png
!p2.png
!p3.png
!p4.png
!p5.png
!v-thumb-1.png
!v-thumb-2.png
!v-thumb-3.png
!v-thumb-4.png
!hero-koodai.png
!logo.png
